@use 'sass:math';

.main-header {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    max-width: 55rem;
    padding: $gutter;
}

.header__repo-link-list {
    align-self: center;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0;

        &:not(:last-child) {
            margin-right: 0.75em;
        }
    }
}

.header__repo-link {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0;

    img {
        display: block;

        width: 100%;
        height: auto;
        margin: 0;

        filter: $font-color-filter;

        @media (prefers-color-scheme: dark) {
            filter: $font-color--dark-filter;
        }
    }
}

.header__home-link {
    display: block;
    flex: 1 0 auto;
    margin: 0;
    margin-bottom: 1em;

    p {
        margin: 0;
    }

    @media (min-width: $bp-small) {
        margin: 0;
    }
}

.main {
    max-width: 55rem;
    padding: 0 $gutter $gutter $gutter;

    @media (min-width: $bp-small) {
        display: flex;
    }
}

nav {
    margin: 0;
}

article {
    margin: 0 0 #{$gutter * 2};

    header {
        margin-bottom: 0;
        margin-left: #{- $gutter};
        padding: 0;
        border-bottom: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    ul:last-child {
        margin-bottom: 0;
    }
}

.body-wrapper {
    max-width: 100%;
    padding: 0;

    @media (min-width: $bp-small) {
        padding: 0 0 0 $gutter * 2;
    }
}

.page-title,
.section-title {
    margin: 0 0 math.div($gutter, 2) (-$gutter);
}

.project-nav {
    display: block;
    display: flex;
    justify-content: space-between;
    width: 375px;
}
