$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
$white: #fff;

/* --- */
$gutter: 1rem;
$border-color: $base0;
$bp-small: 39rem;
$font-color: $base02;
$font-color--dark: $base1;
$font-color--light: $base2;
$link-color: $blue;
$body-bg-color: $base3;
$body-bg-color--dark: $base03;

/* --- */
$cyan-filter: invert(54%) sepia(25%) saturate(1040%) hue-rotate(126deg)
    brightness(93%) contrast(90%);
$red-filter: invert(33%) sepia(93%) saturate(4789%) hue-rotate(348deg)
    brightness(91%) contrast(89%);
$link-color-filter: invert(42%) sepia(99%) saturate(414%) hue-rotate(161deg)
    brightness(96%) contrast(92%);
$font-color--dark-filter: invert(82%) sepia(5%) saturate(537%)
    hue-rotate(131deg) brightness(77%) contrast(83%);
$font-color-filter: invert(15%) sepia(12%) saturate(5615%) hue-rotate(157deg)
    brightness(94%) contrast(94%);
