@import 'variables';
@import 'layout';
@import 'components/blog-entries-list';
@import 'components/blog-entry';
@import 'components/pagination';
@import 'components/quick-launch';
@import 'components/search-form';
@import 'components/search-results';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0 0 $gutter 0;
}

body {
    font: 14px/1.2 'Roboto Mono', BlinkMacSystemFont, -apple-system,
        'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
        Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: $font-color;
    background-color: $body-bg-color;

    @media (prefers-color-scheme: dark) {
        color: $font-color--dark;
        background-color: $body-bg-color--dark;
    }
}

::selection {
    color: $base03;
    background-color: $yellow;

    @media (prefers-color-scheme: dark) {
        color: $base03;
        background-color: $body-bg-color;
    }
}

a,
a:link,
a:hover,
a:active {
    font-weight: 500;
    color: $link-color;
}

a:visited {
    color: $cyan;
}

a:focus {
    color: $red;
}

a:visited:focus {
    color: $orange;
}

[target='_blank'] {
    &:after {
        content: '';

        display: inline-block;

        width: 0.7em;
        height: 0.7em;
        margin-left: 0.25em;

        vertical-align: middle;

        background-image: url('/images/new-window.svg');
        background-repeat: no-repeat;
        background-size: contain;
        filter: $link-color-filter;
    }
}

.screenreader-text {
    position: absolute;
    top: auto;
    left: -999px;

    width: 1px;
    height: 1px;

    &:focus {
        position: static;
        width: auto;
        height: auto;
        color: $red;
    }
}

h2,
header {
    /* stylelint-disable no-descending-specificity */
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        font-weight: normal;
        color: $font-color;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $font-color--dark;
        }
    }
    /* stylelint-enable no-descending-specificity */
}

h1 {
    margin-bottom: 0;
}

h3 + p {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-weight: 400;
}

li {
    margin-bottom: 0;
}

.list--normal li {
    margin-bottom: 1em;
}
