<div class="main">
    <nav>
        <a id="skip-nav" class="screenreader-text" href="#main">
          Skip Navigation
        </a>
        <div class="quick-launch-wrapper">
            {{>quick-launch--blog-categories}}
            {{>quick-launch--blog-archive}}
        </div>
    </nav>
    <main class="body-wrapper" id="main">
            {{{block "body"}}}
    </div>
</div>

