<div class="main">
    <nav>
        <a id="skip-nav" class="screenreader-text" href="#main">
          Skip Navigation
        </a>
        <ul class="quick-launch-wrapper">
            {{>quick-launch--blog-categories}}
            {{>quick-launch--blog-archive}}
        </ul>
    </nav>
    <main class="body-wrapper" id="main">
        <h2 class="page-title">
            <a href="/">{{title}}</a>
            {{#if is-archive-page}}
                - {{transformPaginationName pagination.name}}
            {{/if}}
            {{#if is-category-page}}
                - {{category}}
            {{/if}}
        </h2>
        <ul class="blog-entries-list">
            {{#each pagination.files}}
                <li class="blog-entries-item">
                    <article>

                        {{#unless hide-project-link}}
                        <a
                            href="/{{path}}/"
                            class="blog-entries-link"
                        >
                        {{/unless}}
                        {{>article-header h=3}}
                        {{#unless hide-project-link}}
                        </a>
                        {{/unless}}

                        <p class="blog-entries-snippet">{{snippet}}</p>

                        {{>links fromList="true"}}

                    </article>
                </li>
            {{/each}}
        </ul>

        <p>
            {{#if pagination.previous}}
                <a
                    href="/{{pagination.previous.path}}"
                    class="pagination-link--newer"
                >Newer</a>
            {{/if}}
            {{#if pagination.next}}
                <a
                    href="/{{pagination.next.path}}"
                    class="pagination-link--older"
                >Older</a>
            {{/if}}
        </p>
    </main>

</div>
