<div class="main">
    <nav>
        <a id="skip-nav" class="screenreader-text" href="#main">
          Skip Navigation
        </a>
        <ul class="quick-launch-wrapper">
            {{>quick-launch--blog-categories}}
            {{>quick-launch--blog-archive}}
        </ul>
    </nav>
    <main class="body-wrapper" id="main">
        <article>
            {{>article-header}}
            <div class="project-nav">
            {{#if olderProjectPath}}
                <a href="/{{olderProjectPath}}">older</a>
            {{/if}}
            {{#if newerProjectPath}}
                <a href="/{{newerProjectPath}}">newer</a>
            {{/if}}
            </div>
            {{>blog-category-list}}
            <div class="blog-entry__body">
                {{{block "body"}}}
            </div>
            {{>links}}
            {{>stack}}
            {{>screen-shots}}
            {{{block "after"}}}
        </article>
    </main>
</div>

