.blog-entries-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog-entries-item {
    &:not(:last-child) {
        margin-bottom: 2rem;
        border-bottom: 1px dashed $border-color;
    }
}

.blog-entries-snippet:empty {
    display: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    /* stylelint-disable selector-no-qualifying-type */
    &.blog-entries-link {
        color: $font-color;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $font-color--dark;
        }
    }
    /* stylelint-enable selector-no-qualifying-type */
}
