.blog-entry__categories-list {
    display: inline-block;
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
    }
}

.blog-entry__categories__title {
    display: inline-block;
    font-weight: 400;

    &:after {
        content: ': ';
    }
}

.blog-entry__project-date {
    margin-bottom: 0;
}

.blog-entry__project-image {
    display: block;

    box-sizing: content-box;
    max-width: 100%;
    margin: 0 0 $gutter;
    padding: 0.25em;

    border: 1px solid $border-color;

    // 375 + 2border + 8padding + 32gutter =
    @media (max-width: 417px) {
        height: auto;
    }
}

.blog-entry__project-screen-shot {
    display: block;

    max-width: 100%;
    margin: 0 0 $gutter;
    padding: 0.25em;

    border: 1px solid $border-color;
}

.blog-entry__iframe-wrapper {
    position: relative;
}

.blog-entry__iframe {
    position: absolute;

    overflow-x: hidden;
    overflow-y: scroll;

    background-color: $white;
    border: 1px solid $border-color;
}

.blog-entry__links {
    display: block;

    a {
        display: block;
    }
}

.blog-entry__body {
    border: 1px;
}

.blog-entry__links,
.blog-entry__screen-shots,
.blog-entry__body,
.blog-entry__stack {
    margin-bottom: $gutter * 2;
}

.blog-entry__categories {
    margin-bottom: $gutter * 1.5;
}
