.quick-launch--categories {
    a {
        display: block;
    }
}

.quick-launch {
    padding: 0;
    list-style-type: none;

    ul {
        padding: 0;
        list-style-type: none;
    }

    a,
    a:link {
        overflow: hidden;

        margin: 0;

        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a:hover {
        font-weight: 500;
    }

    li {
        margin: 0.125em 0;
    }
}

.quick-launch-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;

    @media (min-width: $bp-small) {
        width: 180px;
    }
}

.quick-launch-item__count {
    padding-left: 0.5ch;
    font-size: 0.66em;
    font-weight: normal;
    color: $base1;
}

.quick-launch-item--active {
    font-weight: 400;
}

.quick-launch__title {
    display: inline-block;
    font-size: 1.17rem;
}

.quick-launch__toggle-btn {
    float: right;

    margin: 0;
    padding: 0;

    font-size: 0.75rem;
    line-height: 1.17rem;
    color: $link-color;
    text-decoration: underline;

    background: transparent;
    border: 0;

    @media (min-width: $bp-small) {
        display: none;
    }
}

.quick-launch__toggle-contents {
    overflow: hidden;

    @media screen and (prefers-reduced-motion: no-preference),
        (update: fast) and (max-width: $bp-small) {
        transition: all 0.4s ease;
    }
}
