.search-results-title {
    font-size: 1.17rem;
    font-weight: 400;
}

.search-results-by {
    float: right;
    line-height: 1.5rem;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $font-color;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $font-color--dark;
        }
    }
}

.search-results-by__img {
    display: inline-block;

    width: auto;
    height: 25px;
    margin: 0;

    vertical-align: middle;
}

.search-result-item {
    margin-bottom: 2rem;
}

.search-result-item__full-url-link {
    overflow: hidden;
    display: block;

    font-size: 0.8em;
    color: $border-color;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-result-item__body {
    margin: 0;
}

.search-result-item__pdf {
    color: $border-color;
}

.search-result-item__publish {
    color: $border-color;
}

.search-results-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    em {
        font-weight: 500;
    }
}
