.search-form {
    order: 1;
    margin: 0 0 1em;

    input {
        margin-bottom: 0;

        font-family: monospace;
        font-family: 'Roboto Mono', monospace;
        font-size: 16px;
        font-weight: 300;
        color: $font-color;

        background: transparent;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px dashed $border-color;
        border-left: 0;

        @media (prefers-color-scheme: dark) {
            color: $font-color--light;
        }
    }

    @media (min-width: 545px) {
        order: 0;
        margin-right: $gutter;
        margin-bottom: 0;
    }
}
