---
# <!-- @formatter:off -->
title: Flash Site
publish: 2007-01-17
project-image-src: /aph/thumb.jpg
category:
  - Flash
project-link: /projects/aph/
stack:
  - ActionScript 2.0
  - Flash Media Server (FMS)
  - XML
screen-shots:
  - url: /projects/aph/screen.jpg
  - url: /projects/aph/screen2.jpg
  - url: /projects/aph/screen3.jpg
  - url: /projects/aph/screen4.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    In order to show this project it needed all its content replaced... all of it. Its a flash site for a company that
    needed an image gallery, video updates, live web shows and a comprehensive index of the material.
</p>
<p>
    It uses xml to add and update the content. The web shows were broadcast using FMS. The design was outsourced but the
    guts of the application had to be totally rewritten to support xml and more advanced features.
</p>
{{/content}}

{{/extend}}

