---
# <!-- @formatter:off -->
title: Live Show Broadcaster / Receiver
publish: 2006-08-17
project-image-src: /asg_broadcaster/thumb.jpg
category:
  - Flash
stack:
  - ActionScript 2.0
  - Flash Media Server (FMS)
  - PHP
  - MySQL
  - XML
screen-shots:
  - url: /projects/asg_broadcaster/img/broadcaster_1.jpg
  - url: /projects/asg_broadcaster/img/receiver_1.jpg
  - url: /projects/asg_broadcaster/img/broadcaster_2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    The client was using a Java based web broadcasting tool and was unhappy with the quality of the output and
    usability. Several of the customers were also unhappy about not having mac compatibility. This flash application
    provided them with the solution they were looking for.
</p>
<p>
    The broadcaster was used to publish biweekly shows to approximately 40 - 80 users. It also saves show information to
    a database so that it can be viewed after the broadcast.
</p>
{{/content}}

{{/extend}}

