---
# <!-- @formatter:off -->
title: Animated Layout
publish: 2016-02-09
project-image-src: /cmg_animatedLayout/thumb.jpg
project-link: /projects/cmg_animatedLayout/
repo-link: https://bitbucket.org/donsuhr/cmc-animated-layout
category:
  - HTML & JavaScript
snippet: A jQuery project with scroll detected animations
stack:
  - jquery.appear
  - Assemble
  - Webpack
  - Grunt
  - Babel
screen-shots:
  - url: /projects/cmg_animatedLayout/screen1.jpg
  - url: /projects/cmg_animatedLayout/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This project started as a POC for a one off page used for an email campaign. Management was looking for something a
    little more 'flashy' than our standard layouts. I used this project to get some of the other team members acclimated
    with Git.
</p>
<p>
    The project was eventually deployed to a Sharepoint site.
</p>
{{/content}}

{{/extend}}

