---
# <!-- @formatter:off -->
title: Mobile Website
publish: 2011-03-22
project-image-src: /cmg_insight11_mobile/thumb.jpg
category:
    - HTML & JavaScript
snippet: This mobile website was used by conference attendees to create and view their schedule, view maps and submit session evaluations.
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>{{snippet}}</p>
<p>
    Note: This project uses the jQuery Mobile framework which was not IE
    compatible.
</p>
<h3>Working Demo Version:</h3>
<div class="blog-entry__iframe-wrapper" style="height: 490px">
    <iframe
        src="{{@root.config.urlRoot}}/projects/cmg_insight11_mobile/index.html"
        width="340"
        height="490"
        frameborder="0"
        scrolling="auto"
        style="border: 1px solid black; overflow-x: hidden; overflow-y: scroll"
    ></iframe>
</div>
{{/content}} {{/extend}}
