---
# <!-- @formatter:off -->
title: Forms Builder Designer
publish: 2015-07-18
project-image-src: /cmg_CMCFormsBuilderDesigner/thumb.jpg
category:
  - HTML & JavaScript
  - Angular
snippet: A SPA re-theme
stack:
  - Angular v1.3.15
  - Sass
  - Grunt
screen-shots:
  - url: /projects/cmg_CMCFormsBuilderDesigner/screen1.jpg
  - url: /projects/cmg_CMCFormsBuilderDesigner/screen2.jpg
  - url: /projects/cmg_CMCFormsBuilderDesigner/screen3.jpg
  - url: /projects/cmg_CMCFormsBuilderDesigner/screen4.jpg
  - url: /projects/cmg_CMCFormsBuilderDesigner/screen5.jpg
  - url: /projects/cmg_CMCFormsBuilderDesigner/screen6.jpg
  - url: /projects/cmg_CMCFormsBuilderDesigner/screen7.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    The goal of this project was to re-theme an existing SPA. I built a local copy of the app and used mockjax to
    simulate the back-end so I could have live reload during development.
</p>
<p>
    This was a monkey-patch project
</p>
{{/content}}

{{/extend}}

