---
# <!-- @formatter:off -->
title: The End of an Era
publish: 2020-09-14
project-image-src:
    - /cmg_cmcSite_v4/thumb.png
    - /cmg_cmcSite_v4/thumb.webp
category:
    - HTML & JavaScript
project-link: https://d2ylah67gacrw.cloudfront.net
repo-link: https://bitbucket.org/donsuhr/cmc-site/src/static-site/
snippet: Campus Management is no more.
stack:
    - Metalsmith
    - Webpack
    - Grunt
    - Babel
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    After nearly twelve years my time at Campus Management has come to an end.
    Due to a reorganization our department was deemed redundant and eliminated.
    It was time, we were all overdue for a change.
</p>
<p>
    As shown in the many posts in this portfolio we went though many technology
    stacks over the years. We started out in Flash, trudged though a SharePoint
    faze and finally ended with a performant static site. Things definitely
    improved over the years.
</p>
<p>
    <a href="https://www.campusmanagement.com">campusmanagement.com</a> is going
    though lots of changes as they transition the site to anthology.com. I have
    preserved some of it here. Scroll past the iframe for a link to open the
    site directly.
</p>

<div class="blog-entry__iframe-wrapper" style="height: 650px">
    <iframe
        src="https://d2ylah67gacrw.cloudfront.net"
        width="100%"
        height="650"
        frameborder="0"
        scrolling="auto"
        class="blog-entry__iframe"
    ></iframe>
</div>

{{/content}} {{/extend}}
