---
# <!-- @formatter:off -->
title: Password Protected Downloads
publish: 2015-08-10
project-image-src: /cmg_passwordProtectedDownload/thumb.jpg
category:
  - HTML & JavaScript
snippet: A simple plain text / shared login for documents
stack:
  - SPServices
  - Underscore
  - i18n.js
screen-shots:
  - url: /projects/cmg_passwordProtectedDownload/screen1.jpg
  - url: /projects/cmg_passwordProtectedDownload/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This jQuery app uses SPServices to check a plain text user/pass against a sharepoint list. If a match is found,
    the document list is queried and displayed.
</p>
<p>
    This module was used on the PT-BR subsite so it uses the RequireJs i18n.js plugin to load the ui strings.
</p>
{{/content}}

{{/extend}}

