---
# <!-- @formatter:off -->
title: CampusInsight.com
publish: 2017-01-06
project-image-src: /cmg_ciSite_v3/thumb.jpg
category:
  - HTML & JavaScript
snippet: A Metalsmith static site for campusinsight.com
screen-shots:
  - url: /projects/cmg_ciSite_v3/screen.jpg
  - url: /projects/cmg_ciSite_v3/screen2.jpg
  - url: /projects/cmg_ciSite_v3/screen3.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This project was basically a theme of the current <a href="/blog/cmg_cmcSite_v3">campusmanagment.com project</a>. I
    was able to pull the main project as a dependency and override templates and styles where needed. Some of the
    metalsmith build is duplicated but I'm hoping to refactor it to be more modular.
</p>
{{/content}}

{{/extend}}

