---
# <!-- @formatter:off -->
title: Customer Support Survey
publish: 2012-07-04
project-image-src: /cmg_survey/thumb.jpg
category:
  - HTML & JavaScript
snippet: A jQuery survey form
project-link: /projects/cmg_survey/
stack:
  - CSS
  - JavaScript
  - jQuery
screen-shots:
  - url: /projects/cmg_survey/screen.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This was a prototype to show a working version of the designers comp to stakeholders. It was accepted and replaced
    their current customer support survey.
</p>
<p>
    It uses jQuery and two jQuery plugins, <a
    href="http://jqueryui.com/"
    title="jQuery UI"
>jQuery UI</a> and <a
    href="http://jquerytools.org/"
    title="jQuery Tools"
>jQuery Tools</a>, to display the sliders and tooltips.
</p>
{{/content}}

{{/extend}}

