---
# <!-- @formatter:off -->
title: Sales Demo Environment
publish: 2015-08-12
project-image-src: /cmg_salesDemoEnv/thumb.jpg
project-link: /projects/cmg_salesDemoEnv/
category:
  - SharePoint
  - HTML & JavaScript
snippet: A responsive SharePoint portal rebranding
stack:
  - Susy
  - Breakpoint
  - Assemble
  - Require.js
  - Grunt
  - Bower
screen-shots:
  - url: /projects/cmg_salesDemoEnv/screen.jpg
  - url: /projects/cmg_salesDemoEnv/screen2.jpg
  - url: /projects/cmg_salesDemoEnv/screen3.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This project served as a basis for the layouts and scripts that would be used in rebranding an existing
    CampusManagement SharePoint portal product. The new portal is responsive and developed using 'mobile-first'
    methodologies.
</p>
<p>
    I also built a solution deployment script that deploys the built assets to their development servers.
</p>
<p>
    The css is SASS with flexbox and css columns. There is also a responsive table.
</p>
{{/content}}

{{/extend}}

