---
# <!-- @formatter:off -->
title: Release Notes
publish: 2011-08-06
project-image-src: /cmg_releaseNotes/thumb.jpg
category:
  - HTML & JavaScript
snippet: A SPA to search and display product release notes
project-link: /projects/cmg_releaseNotes/
stack:
  - CSS
  - JavaScript
  - jQuery
  - SharePoint -> SOAP -> XSLT -> XML
screen-shots:
  - url: /projects/cmg_releaseNotes/screen.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This tool interfaces with a SharePoint list to provide a user friendly interface for searching though product
    release notes.
</p>
<p>
    One of the challenges during development was the CAML query builder. JavaScript takes the values from the search
    form and builds the necessary CAML query. The query is then sent to SharePoint in SOAP format.
</p>
{{/content}}

{{/extend}}

