---
# <!-- @formatter:off -->
title: CampusManagement.com
publish: 2013-12-03
project-image-src: /cmg_cmcSite_v2/thumb.jpg
category:
  - SharePoint
snippet: A SharePoint Branding Project
stack:
  - XSLT
  - JW Player
  - jQuery Tools
  - jCarousel
screen-shots:
  - url: /projects/cmg_cmcSite_v2/screen1.jpg
  - url: /projects/cmg_cmcSite_v2/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This version of the website was a SharePoint 2010 branding project for Campus Management's homepage.
</p>
<p>
    I was responsible for SharePoint master page creation, CSS development from Fireworks files and JavaScript forms.
</p>
<p>This redesign was also applied to talisma.com, mycampusinsight.com and campusinsight.com</p>
{{/content}}

{{/extend}}

