---
# <!-- @formatter:off -->
title: CampusManagement.com
publish: 2011-12-03
project-image-src: /cmg_cmcSite_v1/thumb.jpg
category:
  - SharePoint
snippet: A SharePoint Branding Project
screen-shots:
  - url: /projects/cmg_cmcSite_v1/screen.jpg
  - url: /projects/cmg_cmcSite_v1/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This version of the website was a SharePoint 2007 branding project for Campus Management's homepage. I have been
    involved with the creation and maintenance of this site for several years.
</p>
<p>
    I was responsible for SharePoint master page creation, CSS development from Fireworks files, JavaScript forms and
    many of the Flash elements.
</p>
{{/content}}

{{/extend}}

