---
# <!-- @formatter:off -->
title: Responsive Table
publish: 2016-03-02
project-image-src: /cmg_responsive-table/thumb.jpg
project-link: /projects/cmg_responsive-table/
category:
  - HTML & JavaScript
snippet: A responsive layout prototype
stack:
  - Sass
  - Handlebars
  - Grunt
screen-shots:
  - url: /projects/cmg_responsive-table/screen.jpg
  - url: /projects/cmg_responsive-table/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This was a responsive layout prototype used by the product team for styles and html markup.
</p>
<p>
    The javascript was written by someone else, they just needed style updates.
</p>
{{/content}}

{{/extend}}

