---
# <!-- @formatter:off -->
title: HTML builder
publish: 2020-06-29
project-image-src:
    - /cmg_cmcSite_component-builder/thumb.png
    - /cmg_cmcSite_component-builder/thumb.webp
category:
    - HTML & JavaScript
project-link: https://d2ylah67gacrw.cloudfront.net/snippets-and-examples/component-builder/
repo-link: https://bitbucket.org/donsuhr/cmc-site/src/static-site/app/components/component-builder/
snippet: Set of options to prebuild HTML content wrappers
screen-shots:
  - url: /projects/cmg_cmcSite_component-builder/screen.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    This was a cool little project to help the content authors with html. Our
    pages are built with HTML and a little bit of handlebars. A lot of copy and
    pasting happens and sometimes a div gets left behind.
</p>
<p>
    We have a style guide with components and our css classes but finding what
    you want can have its challenges. For historical and other authoring
    reasons the base structures were not developed as 'components'. This project
    is a step in that direction.
</p>
<p>
    Check out the demo in the link below. The box type of box-v4 has the most
    options.
</p>

{{/content}} {{/extend}}
