---
# <!-- @formatter:off -->
title: Project Renaissance
publish: 2014-09-16
project-image-src: /cmg_renaissance/thumb.jpg
category:
  - HTML & JavaScript
  - SharePoint
snippet: A collection of responsive student management widgets
stack:
  - Require.js
  - Kendo UI
  - Bootstrap
  - Less
  - LessHat
screen-shots:
  - url: /projects/cmg_renaissance/caldendar.jpg
  - url: /projects/cmg_renaissance/contact-info.jpg
  - url: /projects/cmg_renaissance/course-details.jpg
  - url: /projects/cmg_renaissance/degree-audit.jpg
  - url: /projects/cmg_renaissance/expression-window.jpg
  - url: /projects/cmg_renaissance/grids.jpg
  - url: /projects/cmg_renaissance/iCatalogAOSList.jpg
  - url: /projects/cmg_renaissance/iCatalogAOSList2.png
  - url: /projects/cmg_renaissance/notificiations.jpg
  - url: /projects/cmg_renaissance/personal-info.jpg
  - url: /projects/cmg_renaissance/petition.jpg
  - url: /projects/cmg_renaissance/relationships.jpg
  - url: /projects/cmg_renaissance/transcript-request.jpg
  - url: /projects/cmg_renaissance/transfer-credit.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    {{snippet}}
</p>
<p>
    The product team needed assistance getting the architecture for this project started. They pulled me into the
    project and I was able to get the development side of the project off the ground.
</p>
<p>
    The project is basically a large collection of customized KendoUI widgets to manage students at a university. One of
    the widgets was a special case and was developed as a jquery plugin.
</p>

<p>
    This was a custom project for a specific, high-profile government university. They also decided to complicate this
    project by making it a SharePoint solution.
</p>
{{/content}}

{{/extend}}

