---
# <!-- @formatter:off -->
title: Product Release Roadmap
publish: 2011-06-11
project-image-src: /cmg_roadmap/thumb.jpg
category:
  - Flash
snippet: A Flash site to display product release information
project-link: /projects/cmg_roadmap/
stack:
  - ActionScript 3.0
  - OOP
  - SharePoint -> SOAP -> XSLT -> XML
screen-shots:
  - url: /projects/cmg_roadmap/screen.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This tool displays information for the more notable features in this clients product suite.
</p>
<p>
    To see the animation effects use the version scrubber at the bottom to scroll to version 20. Then turn on and off
    products from the "Product Display Menu". The options in "Functional Area Menu" will hide some of the dots.
</p>
{{/content}}

{{/extend}}

