---
# <!-- @formatter:off -->
title: Talisma.com
publish: 2011-12-02
project-image-src: /cmg_talisma/thumb.jpg
category:
  - SharePoint
snippet: A SharePoint Branding Project
screen-shots:
  - url: /projects/cmg_talisma/screen.jpg
  - url: /projects/cmg_talisma/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This was a SharePoint 2007 branding project for Campus Management's Talisma subsidiary. I have been involved with
    the creation and maintenance of this site for several years.
</p>
<p>
    I was responsible for CSS development from Fireworks files, JavaScript forms and many of the Flash elements.
</p>
{{/content}}

{{/extend}}

