---
# <!-- @formatter:off -->
title: Express Node API Server
publish: 2016-10-31
project-image-src: /cmg_api/thumb.jpg
category:
  - Express
stack:
  - Express
  - Mailgun
  - Auth0
  - aws-sdk
  - Mongoose
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    The bulk of the code for this sites api server is to handle the particulars of form submission. However, there are a
    few interesting bits.
</p>
<p>
    We use Auth0 to maintain accounts. Originally there was a requirement to have a section of the site for customers
    that would require authentication. That requirement was removed after I had implemented it so now we use Auth0 to
    maintain our three admin users. We do store some basic profile information that's not included in the JWT in the
    Auth0.
</p>
<p>
    There are a couple of cool things for signed AWS S3 bucket item access. It signs urls to
    <a href="/blog/cmg_s3docList/">upload from the admin</a> and to list out the bucket items. It also signs urls to
    <a href="/blog/cmg_passwordProtectedDownload_v2/">download from the password protected documents.</a>
</p>
<p>
    We use the Mailgun API to author and deliver form auto responses. Mailgun also has webhooks that are called back on
    our api so we can store a log of the deliverability of each email.
</p>
{{/content}}

{{/extend}}

