---
# <!-- @formatter:off -->
title: CampusManagement.com Responsive & Request Optimization
publish: 2015-06-15
project-image-src: /cmg_cmcSite_v2a/thumb.jpg
category:
  - SharePoint
snippet: A SharePoint Branding Optimization Project
stack:
  - Sass
  - Assemble
  - Require.js
  - Grunt
screen-shots:
  - url: /projects/cmg_cmcSite_v2a/screen1.png
  - url: /projects/cmg_cmcSite_v2a/screen2.png
  - url: /projects/cmg_cmcSite_v2a/screen3.png
  - url: /projects/cmg_cmcSite_v2a/screen4.png
  - url: /projects/cmg_cmcSite_v2a/screen5.png
  - url: /projects/cmg_cmcSite_v2a/screen6.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}

<p>
    This version of the website was an optimization of the 2012 version of Campus Management's homepage.
</p>
<p>
    The css for this version of the site is responsive and was developed using 'mobile first' methodology. It uses the
    bootstrap-sass project for as a responsive framework; being careful to only include styles actually being used.
</p>
<p>
    Since this is a customer facing SharePoint site, I went to great lengths to hack together the minimum of necessary
    files to load the site without throwing an error. The goal was to remove as much 'SharePoint' as possible for any
    non-authenticated visitor.
</p>
<p>
    I was able to reduce the Javascript from 550kb in 24 files to 267kb in 5. I was also able to reduce the number of
    css files from 11 with 77.6kb to 3 files with 37.2kb. When browsing as an administrator the original SharePoint
    scripts were loaded to enable the wysiwyg ui.
</p>
<p>These gains were then applied to talisma.com</p>
{{/content}}

{{/extend}}

