---
# <!-- @formatter:off -->
title: CampusInsight.com - Account & Schedule
publish: 2017-03-10
project-image-src: /cmg_ciSite_v3_schedule/thumb.jpg
category:
  - React
  - Firebase
snippet: A collection of React components to plan a personal conference schedule.
stack:
  - React
  - Redux
  - Firebase
  - recharts
  - jQuery UI - Modal
screen-shots:
  - url: /projects/cmg_ciSite_v3_schedule/screen1.jpg
  - url: /projects/cmg_ciSite_v3_schedule/screen2.jpg
  - url: /projects/cmg_ciSite_v3_schedule/screen3.jpg
  - url: /projects/cmg_ciSite_v3_schedule/screen4.jpg
  - url: /projects/cmg_ciSite_v3_schedule/screen5.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    Using firebase for accounts made that aspect of the project super simple.
</p>
<p>
    The schedules pull the session info from the mongodb and actual signups from the firebase db. The schedules are
    realtime but it's not likely someone would have their schedule open at the same time as the session browser.
</p>

{{/content}}

{{/extend}}

