---
# <!-- @formatter:off -->
title: Elastic Beanstalk Node Server
publish: 2016-10-31
project-image-src: /cmg_server/thumb.jpg
category:
  - Express
  - AWS
stack:
  - AWS Elastic Beanstalk
  - Express
  - Nginx
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This project configures and launches the AWS Elastic Beanstalk instance. It configures the Nginx proxy and installs
    SSH keys from S3 for access to the private git repo where some of the packages are hosted. Its a pretty low traffic
    and low cpu app so it uses a t2.micro. Because the t2.micro only has 1GB of ram, I set up an additional 2GB swap to
    prevent memory errors during the npm install. Installs take forever but its the only time the cpu gets much use.
</p>
<p>
    The Express server uses express-subdomain to route the api and admin calls to their respective endpoints. Since the
    admin site is just a front end site, the server side route in this project does check for a JWT and redirects as
    necessary.
</p>
{{/content}}

{{/extend}}

