---
# <!-- @formatter:off -->
title: Subscription Form
publish: 2014-10-16
project-image-src: /cmg_TLCSubscriptionForm/thumb.jpg
repo-link: https://bitbucket.org/donsuhr/tlc-subscription-form
project-link: /projects/cmg_TLCSubscriptionForm/
category:
  - HTML & JavaScript
  - SharePoint
snippet: A fancy pants form for training purchase
stack:
  - Bluebird
  - Require.js
  - Handlebars
  - Sass
  - Grunt
screen-shots:
  - url: /projects/cmg_TLCSubscriptionForm/screen1.jpg
  - url: /projects/cmg_TLCSubscriptionForm/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    The training department needed a form to sign up people with associated courses. It also needed to allow them to
    apply their training credits toward their purchase.
</p>
<p>
    The form pulls courses from and submits data to SharePoint lists.
</p>
{{/content}}

{{/extend}}

