---
# <!-- @formatter:off -->
title: SharePoint Branding
publish: 2012-06-04
project-image-src: /cmg_vulcan/thumb.jpg
category:
  - SharePoint
snippet: A SharePoint Branding Project
screen-shots:
  - url: /projects/cmg_vulcan/screen.jpg
  - url: /projects/cmg_vulcan/screen2.jpg
  - url: /projects/cmg_vulcan/screen3.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    The challenge for this SharePoint 2007 branding project was to develop a way for the theme to be changed from a
    list. A separate, non SharePoint site on the corporate intranet was also to consume these themes.
</p>
<p>
    Working together with the designer we used transparent pngs to give the site texture. Color was then added beneath
    the images. I used dynamically generated CSS files to theme both sites consistently.
</p>
{{/content}}

{{/extend}}

