---
# <!-- @formatter:off -->
title: Password Protected Downloads v2
publish: 2016-07-16
project-image-src: /cmg_passwordProtectedDownload_v2/thumb.jpg
category:
  - HTML & JavaScript
  - AWS
snippet: A less simple plain text / shared login for documents
stack:
  - node-jsonwebtoken
  - aws-sdk
  - Underscore
  - webpack-amdi18n-loader
screen-shots:
  - url: /projects/cmg_passwordProtectedDownload_v2/screen1.jpg
  - url: /projects/cmg_passwordProtectedDownload_v2/screen2.jpg
  - url: /projects/cmg_passwordProtectedDownload_v2/screen3.jpg
  - url: /projects/cmg_passwordProtectedDownload_v2/screen4.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This version of the utility has several advancements over the <a href="/blog/cmg_passwordProtectedDownload">older
    plain text version</a>. The old version was more just a deterrent, this version is slightly more legit.
</p>
<p>
    The logins for this are shared so the password is still stored in the clear but its at least transferred over https.
    The site is static so the auth api returns a JWT with roles for the particular login's document list. The app then
    sends the JWT to the document api which returns signed AWS S3 links set to expire in 30 minutes.
</p>
<p>
    I wanted to keep the i18n, even if it was just as a placeholder or example, should I need it somewhere else in this
    project in the future. Since it is no longer a requireJs project I couldn't use the requirejs i18n plugin. However, I
    was able to easily convert it to the amdi18n-loader webpack loader.
</p>
{{/content}}

{{/extend}}

