---
# <!-- @formatter:off -->
title: 25th Anniversary Badge Time Line
publish: 2013-04-06
project-image-src: /cmg_stickers/thumb.jpg
project-link: /projects/cmg_stickers/
snippet: A jQuery UI project
category:
  - HTML & JavaScript
stack:
  - CSS
  - JavaScript
  - jQuery
  - Ant
  - Google Closure Tools
  - jsTestDriver
  - SharePoint JavaScript Object Model (JSOM)
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}
{{#content "body"}}

<p>
    This project was to engage employees to celebrate CMC’s 25th anniversary. Employees are invited to add their name
    and number of years at the company.
</p>
<p>
    The live version uses the SharePoint JavaScript Object Model (JSOM) to interface with a SharePoint list. After
    retrieval, the list data is sorted and html is generated and appended with jQuery.
</p>
<p>
    It uses jQuery and two jQuery plugins, <a
    href="http://jqueryui.com/"
    title="jQuery UI"
>jQuery UI</a> and <a
    href="http://jquerytools.org/"
    title="jQuery Tools"
>jQuery Tools</a>, to display a styled select box and tooltips.
</p>

{{/content}}


{{/extend}}

