---
# <!-- @formatter:off -->
title: Admin Front End
publish: 2016-12-28
project-image-src: /cmg_admin_site/thumb.jpg
category:
  - HTML & JavaScript
  - Backbone
snippet: A static site full of Backbone grids and forms
stack:
  - Backbone
  - Metalsmith
  - Webpack
  - Grunt
  - Babel
screen-shots:
  - url: /projects/cmg_admin_site/screen.jpg
  - url: /projects/cmg_admin_site/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    The admin site for campusmanagement is a static site and uses the <a href="/blog/cmg_api/">JSON api</a>
    to display and edit the MongoDB data. Its one backbone app that renders different templates based on the entry. They
    are all compiled as separate entries; in hindsight I might have done that differently. The newer grids are built
    with React
</p>
{{/content}}

{{/extend}}

