---
# <!-- @formatter:off -->
title: CMC Static Site - 2020 Performance Audit
publish: 2020-06-26
project-image-src: /cmg_cmcSite_v3_perf2020/thumb.png
snippet: An audit to improve loading times and Lighthouse 6 score
repo-link: https://bitbucket.org/donsuhr/cmc-site/src/static-site/build/lighthouse/
category:
    - Vue
    - Web Perf
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    One of my primary goals with the Campus Management website is performance.
    Given the research on page speed and conversions, I wanted the site to be as
    fast as possible. Performance influenced the entire architecture of the
    project.
</p>
<p>
    There is always a balance between design elements, like fonts and large hero
    images, and the Lighthouse perf score. While as a developer I might choose a
    system font to avoid FOIT vs. FOUT altogether, the designer has other ideas.
    This leads to the seemingly annual font loading technique changes.
</p>
<p>
    When the beta of Lighthouse 6 was released it was time for the latest round
    of perf changes. We finally started using a picture element to serve up
    mobile friendly page background images, which had a significant impact on our
    score. Since the scores seemed to vary, I built a cli runner to collect an
    average of runs.
</p>
<p>
    With our ie traffic down to 1% we decided to replace the bootstrap grid with
    more flexbox and css grid. Even though we used autoprefixer to keep the site
    usable in ie11, I did anticipate a large file weight reduction in the css
    payload. Unfortunately, it was a meager 10k.
</p>
<iframe
    src="{{@root.config.urlRoot}}/projects/cmg_cmcSite_v3_perf2020/lighthouse/index.html"
    width="100%"
    height="490"
    frameborder="0"
    scrolling="auto"
    class="blog-entry__iframe"
></iframe>

{{/content}} {{/extend}}
