---
# <!-- @formatter:off -->
title: Intranet Portal
publish: 2011-09-01
project-image-src: /cmg_campusWeb/thumb.jpg
category:
  - SharePoint
snippet: A SharePoint Branding Project
screen-shots:
  - url: /projects/cmg_campusWeb/screen.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This project includes functionality provided by several jQuery plugins. Some of the content opens in light boxes (<a
    href="http://fancybox.net/"
    target="_blank"
>fancy box</a>), other content is scrolled with <a
    href="http://sorgalla.com/jcarousel/"
    target="_blank"
>jCarousel</a>.
</p>
<p>
    One of the custom JavaScript features saves the navigation menu toggle state in a cookie. Simple tab based content
    display toggling was also developed.
</p>
<p>
    Much of the effort for this project was in XSLT. The HTML that SharePoint outputs is unreasonable and needed heavy
    modification to push it toward standards.
</p>
{{/content}}

{{/extend}}

