---
# <!-- @formatter:off -->
title: Registration Kiosk
publish: 2009-04-01
project-image-src: /cmg_reg/thumb.jpg
category:
  - Flash
project-link: /projects/cmg_reg/
stack:
  - ActionScript 3.0
  - TDD (asunit)
  - XML
  - OOP
screen-shots:
  - url: /projects/cmg_reg/screen.jpg
  - url: /projects/cmg_reg/screen2.jpg
  - url: /projects/cmg_reg/screen3.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This project was for a registration kiosk display using a 52" touch screen. It was used at a Conference in April of
    2009 to collect potential customer information. The on screen text is primarily XML driven and it saves its results
    in an XML file.
</p>
<p>
    It also uses a cool on screen keyboard that was adapted from as2 and extended to include additional functionality.
</p>
{{/content}}

{{/extend}}

