---
# <!-- @formatter:off -->
title: Campus University Mobile Portal
publish: 2011-03-29
project-image-src: /cmg_CampusUniversityMobilePortal/thumb.jpg
category:
  - HTML & JavaScript
snippet: A mobile web site for a university portal
project-link: /projects/cmg_CampusUniversityMobilePortal/
stack:
  - jquery.mobile-1.0a3
screen-shots:
  - url: /projects/cmg_CampusUniversityMobilePortal/screen1.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    {{snippet}}
</p>
<p>
    Note: This project uses the jQuery Mobile framework which was not IE compatible.
</p>
{{/content}}

{{/extend}}

