---
# <!-- @formatter:off -->
title: Demo Center
publish: 2011-07-30
project-image-src: /cmg_demoCenter/thumb.jpg
category:
  - SharePoint
snippet: A media browser populated by SharePoint lists
stack:
  - JW Player
  - jQuery Tools
  - jCarousel
  - jQuery BBQ
  - JavaScript implementation of MD5
screen-shots:
  - url: /projects/cmg_demoCenter/home.jpg
  - url: /projects/cmg_demoCenter/select.jpg
  - url: /projects/cmg_demoCenter/videos.jpg
  - url: /projects/cmg_demoCenter/talisma.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    One of the features required for this project was account log in. It was decided that robust security was not needed
    and Windows server authentication was not wanted. The solution we used was JavaScript that sends encrypted login
    credentials to a SharePoint Webpart that returns the user status and information.
</p>
<p>
    The SharePoint users list is accompanied by a workflows alerting the appropriate people of new user registrations. A
    workflow also alerts the registrant when their account has been approved. Another handles forgotten password
    requests.
</p>
{{/content}}

{{/extend}}

