---
# <!-- @formatter:off -->
title: CampusInsight.com - Support Consultations
publish: 2017-03-10
project-image-src: /cmg_ciSite_v3_support/thumb.jpg
repo-link: https://bitbucket.org/donsuhr/ci-site/src/master/app/components/SupportConsultations/
category:
  - React
  - Firebase
snippet: A collection of React components to register for a support consultation
stack:
  - React
  - Redux
  - Firebase
  - recharts
screen-shots:
  - url: /projects/cmg_ciSite_v3_support/screen1.jpg
  - url: /projects/cmg_ciSite_v3_support/screen2.jpg
  - url: /projects/cmg_ciSite_v3_support/screen3.jpg
  - url: /projects/cmg_ciSite_v3_support/screen4.jpg
  - url: /projects/cmg_ciSite_v3_support/screen5.jpg
  - url: /projects/cmg_ciSite_v3_support/screen7.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    The support consultation components are are all hooked to Firebase for realtime data. When a person registers for
    training their name automatically populates in the administration grids. Likewise, if an administrator registers
    someone though the grid, the availability button for that time is removed on the user side.
</p>
<p>
    The customer time slot selection also references the users schedule for any conflicting items.
</p>
{{/content}}

{{/extend}}

