---
# <!-- @formatter:off -->
title: JavaScript Form Library
publish: 2011-04-30
project-image-src: /cmg_forms/thumb.jpg
category:
  - HTML & JavaScript
snippet: A library to post form data to sharepoint lists
project-link: /projects/cmg_forms/
stack:
  - JavaScript
  - jQuery
  - Ant
  - jsTestDriver
  - Google Closure Tools
screen-shots:
  - url: /projects/cmg_forms/screen.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    Most of the forms on this clients website were originally developed in Flash. This was done in part to avoid using
    Sharepoint Infopath forms. In an effort to move away from Flash content the client requested that the forms be
    transitioned to JavaScript.
</p>
<p>
    This form library is AJAX driven and has several convenient features such as validation and easy error message
    toggles. Ultimately a jQuery plugin may have sufficed.
</p>
{{/content}}

{{/extend}}

