---
# <!-- @formatter:off -->
title: Elementary Social Studies
publish: 2010-10-08
project-image-src: /el_ss/thumb.jpg
category:
  - Flash
  - SCORM
project-link: /projects/el_ss/
stack:
  - ActionScript 3.0
  - SCORM
  - Agile
  - TDD (flexUnit)
  - OOP
  - XML
screen-shots:
  - url: /projects/el_ss/screen.jpg
  - url: /projects/el_ss/screen2.jpg
  - url: /projects/el_ss/screen3.jpg
  - url: /projects/el_ss/screen4.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This project consists of several templates authored together into lessons (SCOs). A lesson could be made up of a
    title screen followed by a video and several multiple choice questions. These lessons are authored by content
    developers using a system which generates XML files to be consumed by the templates.
</p>
<p>
    <a href="http://www.pearsoned.com/">Pearson</a>
</p>
{{/content}}

{{/extend}}

