---
# <!-- @formatter:off -->
title: FlashPitt 2008
publish: 2008-10-17
project-image-src: /conferences/flashPitt08.gif
category:
  - Conference Attendance
snippet: >
    This was a one day conference hosted by the Pittsburgh Flash User Group. I
    have some friends out that way and it gave me a reason to visit my old stomping grounds.
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}
{{#content "body"}}
<p>
    This was a one day conference hosted by the <a href="http://pittmfug.blogspot.com/" target="_blank">Pittsburgh Flash
    User Group</a>. I have some friends out that way and it gave me a reason to visit my old stomping grounds.
</p>
<p>
    For a local one day show, this conference really delivered. A keynote by
    <a href="http://theflashblog.com" target="_blank">Lee Brimelow</a> started
    of the day of sessions delivered by the likes of
    <a href="http://www.papervision3d.org/" target="_blank">Papervision</a>,
    <a href="http://bigspaceship.com/" target="_blank">Big Spaceship</a> (!!!) and
    <a href="http://www.flong.com/" target="_blank">Golan Levin</a>.
</p>
{{/content}}


{{/extend}}

