---
# <!-- @formatter:off -->
title: Netflix Que <-> Fandango RSS Merge
publish: 2012-03-25
project-image-src: /intheater/thumb.jpg
category:
  - PHP
snippet: Shows a list of movies in nearby theatres from my Netflix queue
screen-shots:
  - url: /projects/intheater/screen1.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    {{snippet}}
</p>
<p>
    Netflix used to have a personalized queue RSS feed. On page load, I curled and cached the feed from netflix and a
    rss feed from Fandango. Then I munged them together to show a list of nearby movies. It was a quick project and I
    never bothered to style it but I used it frequently.
</p>
{{/content}}

{{/extend}}

