---
# <!-- @formatter:off -->
title: Catchall - 3650 DIWM Attach v2
publish: 2023-05-20
project-image-src: /intuit_catchall-3650-attach-v2/thumb.webp
category:
    - React
project-link: https://donsuhr.com/projects/intuit_catchall-3650-attach-v2/
stack:
    - React
    - Plasmic
screen-shots:
    - url: /projects/intuit_catchall-3650-attach-v2/screen1.webp
      width: 1000
    - url: /projects/intuit_catchall-3650-attach-v2/screen2.webp
      width: 375
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    This variation based on the
    <a href="/blog/intuit_catchall-baseline-ty22/">ty22 catchall</a>
    seeks to ease information overload by reducing the number of product cards.
    I was the project lead and assisted new team members onboard to their first
    Plasmic project.
</p>

{{/content}} {{/extend}}
