---
# <!-- @formatter:off -->
title: Video Modal Interaction Tracking and a11y
publish: 2021-03-30
project-image-src:
    - /intuit_video-modal-beacon/thumb.png
    - /intuit_video-modal-beacon/thumb.webp
category:
    - HTML & JavaScript
snippet: Video beacon modal
stack:
    - Handlebars
screen-shots:
    - url: /projects/intuit_video-modal-beacon/screen1.png
    - url: /projects/intuit_video-modal-beacon/screen2.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    What began as a simple formatting bug led to a complete rewrite of the
    beacons sent by the video player. Initially, the player couldn’t send
    beacons from within a modal, limiting the accuracy of video usage tracking.
    I solved this by using event delegation to handle beacon processing at the
    root level of the application. This update allowed the organization to gain
    a clearer picture of video usage, especially for videos displayed in modals.
</p>
<p>
    While working on the beacon updates, I also identified and addressed several
    accessibility issues. I resolved keyboard navigation problems and fixed a
    cross-browser display bug to ensure a smoother, more inclusive user
    experience.
</p>

{{/content}} {{/extend}}
