---
# <!-- @formatter:off -->
title: RUX Optimized Onboarding 3693
publish: 2023-10-12
project-image-src: /intuit_rux-ty22-3693-optimzed-onboarding/thumb.png
category:
    - React
stack:
    - React
    - Kotlin
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    This project was a large, multi-team initiative aimed at testing a new flow
    for returning users.
</p>
<p>
    I started by updating one of our returning user experiences to simulate a
    scenario where the TurboTax system assumed the user had already selected a
    product. Next, I modified a global system component that manages screen
    loading in TurboTax, enabling it to display our updated screens.
</p>
<p>
    While this test may not lend itself to visual portfolio content, it was a
    high-stakes, collaborative effort involving multiple teams. The successful
    test paved the way for further development of a more permanent, scalable
    solution.
</p>
<!--
    globalnav updates: load gtkm instead of not_started
    uxo fuago updates: load catchall/rux @gtkm
    yoy animation updates: 512 + exit forward
    campaign manager updates
-->

{{/content}} {{/extend}}
