---
# <!-- @formatter:off -->
title: Update Project Builds
publish: 2022-01-13
project-image-src:
    - /intuit_forge-host-jenkins/thumb.png
category:
    - Software Management
stack:
    - JavaScript
    - Jenkins
snippet: Build Enhancements and Security Updates
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<ul>
    <li>
        Enhanced file synchronization between pre-production and production
        build targets.
    </li>
    <li>Automated a cumbersome, manual SSR build step by moving it to CI.</li>
    <li>Established unit testing and linting standards.</li>
    <li>Added log sanitization for improved security.</li>
    <li>
        Improved logging for failed downstream service fetches and implemented a
        retry strategy.
    </li>
    <li>
        Reduced build times by diffing changes in package.json to limit builds
        to only necessary commits.
    </li>
</ul>

{{/content}} {{/extend}}
