---
# <!-- @formatter:off -->
title: Form based pricing calculator test - 3944
publish: 2024-03-13
project-image-src:
    - /intuit_pnp-ty23-3944-fbp-v3-calc/thumb.png
    - /intuit_pnp-ty23-3944-fbp-v3-calc/thumb.webp
category:
    - React
snippet:
stack:
    - React
    - Plasmic
screen-shots:
    - url: /projects/intuit_pnp-ty23-3944-fbp-v3-calc/screen1.png
      width: 1000
    - url: /projects/intuit_pnp-ty23-3944-fbp-v3-calc/screen2.png
      width: 350
project-link: https://donsuhr.com/projects/intuit_pnp-ty23-3944-fbp-v3-calc/
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    In the initial "Form-Based Pricing" test, we compared a persona-based modal
    with a pricing calculator. Both versions performed well, but server-side
    cart and pricing challenges needed resolution before we could move forward
    with a standalone version of the calculator.
</p>
<p>
    As both a developer and team lead, I created the UI components and logic for
    the calculator. I refined the pricing algorithms and added a fuzzy search
    input to make finding forms more efficient. I collaborated closely with the
    pricing, server-side web, and full-service teams to ensure this widget was
    portable and accessible for various teams across TurboTax.
</p>
<p>
    This version of the calculator was launched as the baseline (non-A/B tested)
    option on the products and pricing page, alongside the second iteration of
    the persona modal. Additionally, tax advisors use it to onboard new
    customers and provide accurate quotes.
</p>
<p>
    <a href="/blog/intuit_connected-ty22-3721-fbp-v1-modals/">FBP v1</a>
    <br />
    <a href="/blog/intuit_pnp-ty23-3852-fbp-v2-modal/">FBP v2</a>
</p>

{{/content}} {{/extend}}
