---
# <!-- @formatter:off -->
title: SSR Optimization
publish: 2022-01-13
project-image-src:
    - /intuit_forge-host-crit-pregen/thumb.png
category:
    - Software Management
    - Web Perf
stack:
    - React
    - Plasmic
    - Jenkins
snippet: Decrease initial payload by 64%
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    Our tech stack can lead to bloated builds when left unchecked. This bloat
    can find its way into our SSR via excessive DOM size and unused CSS. Our
    custom CMS started stalling out when caching the SSR payload and forced our
    attention on optimization.
</p>
<p>
    Using
    <a href="https://github.com/addyosmani/critical" target="_blank"
        >critical</a
    >
    and other optimizations I was able to reduce the SSR payload size by 64%
    (233K → 82K)
</p>

{{/content}} {{/extend}}
