---
# <!-- @formatter:off -->
title: Product Compare Chart - TY21 Baseline
publish: 2021-08-10
project-image-src: /intuit_pnp-baseline-ty21/thumb.png
category:
    - React
project-link: https://donsuhr.com/projects/intuit_pnp-baseline-ty21/
other-links:
    - text: ty22 version
      href: /blog/intuit_pnp-baseline-ty22/
    - text: ty23 version
      href: /blog/intuit_pnp-baseline-ty23/
stack:
    - React
    - Plasmic
screen-shots:
    - url: /projects/intuit_pnp-baseline-ty21/screen1.png
      width: 1000
    - url: /projects/intuit_pnp-baseline-ty21/screen2.webp
      width: 1000
    - url: /projects/intuit_pnp-baseline-ty21/screen3.webp
      width: 375
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    The goal of the Product Compare Chart is to get users into the appropriate
    product from the start. Users do not like having to upgrade when doing their
    taxes. So, it's important that we get them into the correct product for
    their situation as soon as possible.
</p>
<p>
    The goal of the Product Compare Chart is to get users into the appropriate
    product from the start. Users do not like having to upgrade when doing their
    taxes. So, it's important that we get them into the correct product for
    their situation as soon as possible. This particular design was the test
    winner for many years both inside the product and on the marketing site.
    There had been several implementations before this version. The current
    version was built using Plasmic.
</p>

{{/content}} {{/extend}}
