---
# <!-- @formatter:off -->
title: Product Compare Chart - 3062b
publish: 2021-10-20
project-image-src: /intuit_pnp-3062b/thumb.png
category:
    - React
snippet: A screen engine for test versions
stack:
    - React
    - Plasmic
screen-shots:
    - url: /projects/intuit_pnp-3062b/screen1.png
      width: 360
    - url: /projects/intuit_pnp-3062b/screen2.png
      width: 360
    - url: /projects/intuit_pnp-3062b/screen3.png
      width: 360
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    For this version of the Product Compare Chart I created a view engine to
    show and hide the different screens of the experience. This was the first
    version of PCC to have screens.
</p>

<div class="blog-entry__iframe-wrapper" style="height: 750px">
    <iframe
        src="https://donsuhr.com/projects/intuit_pnp-3062b/"
        width="360"
        height="750"
        frameborder="0"
        scrolling="no"
        class="blog-entry__iframe"
    ></iframe>
</div>

{{/content}} {{/extend}}
