---
# <!-- @formatter:off -->
title: Product Compare Chart - TY22 Baseline
publish: 2022-11-30
project-image-src: /intuit_pnp-baseline-ty22/thumb.webp
category:
    - React
project-link: https://donsuhr.com/projects/intuit_pnp-baseline-ty22/
other-links:
    - text: ty21 version
      href: /blog/intuit_pnp-baseline-ty21/
    - text: ty23 version
      href: /blog/intuit_pnp-baseline-ty23/
stack:
    - React
    - Plasmic
screen-shots:
    - url: /projects/intuit_pnp-baseline-ty22/screen2.webp
      width: 1000
    - url: /projects/intuit_pnp-baseline-ty22/screen1.png
      width: 375
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    The Product Compare Chart helps users select the right product from the
    start, minimizing the need for upgrades during the tax process—something
    users typically prefer to avoid. By guiding users to the most suitable
    product for their needs early on, we improve both satisfaction and
    retention.
</p>
<p>
    This particular design became the long-standing test winner, consistently
    performing well both in the product and on the marketing site. Although
    there were several implementations before, the current version was built
    using Plasmic.
</p>

{{/content}} {{/extend}}
