---
# <!-- @formatter:off -->
title: Docs to start - 3395
publish: 2023-01-17
project-image-src:
    - /intuit_connected-ty22-3395-docs-to-start/thumb.png
    - /intuit_connected-ty22-3395-docs-to-start/thumb.webp
category:
    - React
snippet:
project-link: https://donsuhr.com/projects/intuit_connected-ty22-3395-docs-to-start/
stack:
    - React
    - Plasmic
screen-shots:
    - url: /projects/intuit_connected-ty22-3395-docs-to-start/screen1.png
      width: 1000
    - url: /projects/intuit_connected-ty22-3395-docs-to-start/screen2.png
      width: 1000
    - url: /projects/intuit_connected-ty22-3395-docs-to-start/screen3.png
      width: 350
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    After taking over the project from a contracting agency, our three-person
    team updated and refined the content to deliver this test on time, with
    improved accessibility and performance.
</p>
<p>
    One challenge I tackled was creating a responsive version of the intro page.
    Starting with a demo version, I enhanced and optimized it for mobile,
    ensuring that the scroll-driven Lottie animations and layouts remained
    consistent and visually appealing—no small feat given the complexity of the
    moving elements. (It could still benefit from another iteration to further
    polish the experience.)
</p>
<p>
    This test featured a form calculator that passed user options into TurboTax,
    allowing the system to recommend the most appropriate product. Additionally,
    the in-product version of this test included a new integration—a feature
    that allowed users to schedule a call with a tax expert, a first-time
    addition for the marketing team.
</p>
<!-- pnp 3395 ty_22_blue_sky_connect_to_start_mw / postAuth_home / preauth_home -->

{{/content}} {{/extend}}
