---
# <!-- @formatter:off -->
title: Fifty-Fifty Component
publish: 2021-03-06
project-image-src:
    - /intuit_fifty-fifty/thumb.jpg
    - /intuit_fifty-fifty/thumb.webp
category:
    - HTML & JavaScript
project-link: https://donsuhr.com/projects/intuit_fifty-fifty/
snippet: Customizable and authorable component.
stack:
    - Handlebars
    - Vanilla JavaScript
screen-shots:
    - url: /projects/intuit_fifty-fifty/screen1.png
    - url: /projects/intuit_fifty-fifty/screen2.png
    - url: /projects/intuit_fifty-fifty/screen3.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    This one lands in the 'seemed like a good idea at the time' category. This
    authorable component allows the Content Production team to create content
    that shows in a 50/50 layout at desktop widths. Simple as it sounds, this
    component required some complicated configuration to support the desired art
    direction for when the component squeezes down to mobile widths.
</p>
<p>The components in this particular repo use handlebars and SASS.</p>

{{/content}} {{/extend}}
