---
# <!-- @formatter:off -->
title: Intuit Onboarding Bug Bash
publish: 2020-11-23
project-image-src:
    - /intuit_onboarding/thumb.jpg
    - /intuit_onboarding/thumb.webp
category:
    - HTML & JavaScript
snippet: Provided immediate benefit to the business by fixing accessibility and edge case bugs.
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    As part of my onboarding to the thirty plus repos I have touched while
    working for Intuit, I was assigned some interesting bugs. Below is a sample
    of the more notable bugs I handled in my first few months of working for
    Intuit. With my lengthy industry experience I was able to fix these issues
    in an intuitive and timely manner providing an immediate benefit to the
    business.
</p>
<ul class="list--normal">
    <li>
        Used
        <a href="https://www.saucelabs.com" target="_blank"> SauceLabs</a> to
        diagnose and treat a legacy browser bug we were having from a z-index /
        stacking context rendering difference in the particular browser.
        <!-- dec 9 2020 -->
    </li>
    <li>
        For one rendering issue, since I was able to reproduce it with a
        <a
            href="https://donsuhr.github.io/bugs/webkit-text-size-adjust.html"
            target="_blank"
            >simple example</a
        >, I ended up submitting a
        <a href="https://bugs.webkit.org/show_bug.cgi?id=219824" target="_blank"
            >bug</a
        >
        to the webkit team. I was able to create a suitable workaround by
        setting <code>`{ -webkit-text-size-adjust: 100%; }`</code>.
        <!-- dec 9 2020 -->
    </li>
    <li>
        Fixed a bug where our code caused videos to restart and Safari to
        display full screen videos strangely. Another for a third-party script
        that would cause all the videos on the page to suddenly start playing.
        <!-- dec 17 2020 glide carousel -->
    </li>
    <li>
        Fixed an accessibility issue where the keyboard navigation got stuck in
        a loop (the wrong one) due to an unhandled edge case. Updated other
        keyboard navigation where the focus was not managed at all or behaved
        unpredictably.
        <!-- dec 18 2020 kb trap -->
    </li>
    <li>
        Added listener code to fix the heights of open accordion components
        after images loaded.
    </li>
    <li>
        Helped the Content Production team diagnose unbalanced and problematic
        html code. Provided consulting for the Mint team on code being added to
        their marketing site.
        <!-- jan 7 2021 -->
    </li>
    <li>
        Used
        <a href="https://www.siteimprove.com/" target="_blank">SiteImprove</a>to
        find and fix unreported issues.
    </li>
    <li>
        Updated polyfills and transpiled code to stop legacy browser errors from
        filling up our
        <a href="https://www.splunk.com/" target="_blank">Splunk</a> logs.
        <!-- mar 2 2021 noisy logs -->
    </li>
</ul>
<hr />
<p>Internal note:</p>
<ul>
    <li>----11/23/2020 - start under Jim Heffron</li>
    <li>Update Catalog widgets to Auth 3.0</li>
    <li>Linting efforts in multiple repos</li>
    <li>ttcom-themes colors and font updates</li>
    <li>Various season readiness and compliance updates to CatchAll and PnP</li>
    <li>Add BV stars to sandbox, hero splash, marquee, etc</li>
    <li>Add Child Tax Credit topic to UXO rules</li>
    <li>Fix various mobile app bugs</li>
    <li>
        ----09/26/2022 next cycle under Prageesh Gopakumar (last was 05/23/2022)
    </li>
    <li>
        12/22/2022: ty22_desk: Desktop Release (<a
            href="/blog/intuit_desktop-release/"
            >page</a
        >)
    </li>
    <li>
        11/30/2022: ty22_blsr: Project lead Season Readiness (<a
            href="/blog/intuit_catchall-baseline-ty22/"
            >ty22 catchall</a
        >
        <a href="/blog/intuit_pnp-baseline-ty22/">ty22 pnp</a>)
    </li>
    <li>
        01/17/2023: ty22_3395: Blue Sky 2 / Docs-to-start Project lead
        (temporary) to bootstrap. Then after epam, work on animation (pink one)
        (<a href="/blog/intuit_connected-ty22-3395-docs-to-start/">page</a>)
    </li>
    <li>01/17/2023: ty22_bs01: Blue Sky 1 drawer and price animations</li>
    <li>
        02/01/2023: ty22_3371: P&P Divergent MW Project lead (temporary,
        eventual epam baseline winner
        <a href="/blog/intuit_pnp-baseline-ty22/">ty22 pnp</a>)
    </li>
    <li>02/21/2023: ty22_bs04: Blue Sky 4 / Fork Project lead(canceled)</li>
    <li>
        03/22/2023: ty22_3522: RUX Divergent MW (<a
            href="/blog/intuit_rux-3522/"
            >page</a
        >)
    </li>
    <li>
        04/20/2023: ty22_tech: re-update builds for bundle size and red browser
        compatibility
    </li>
    <li>
        05/23/2023: ty22_3650: DIWM Attach v2 (<a
            href="/blog/intuit_catchall-3650-attach-v2/"
            >page</a
        >)
    </li>
    <li>----07/05/2023 moved to Nathan Arnold to lead RUX team</li>
    <li>07/24/2023: ty22_tech: extensive typescript and lint updates</li>
    <li>
        10/04/2023: ty22_3721: FBP v1 a/b test (<a
            href="/blog/intuit_connected-ty22-3721-fbp-modals/"
            >page</a
        >)
    </li>
    <li>10/11/2023: ty22_tech: facilitated Akamai image manager</li>
    <li>
        10/12/2023: ty22_3693: RUX Optimized Onboarding (<a
            href="/blog/intuit_rux-ty22-3693-optimzed-onboarding/"
            >page</a
        >)
    </li>
    <li>
        11/30/2023: ty23_blsr: Project lead on ty23 Season Readiness (<a
            href="/blog/intuit_catchall-baseline-ty23/"
            >ty23 catchall</a
        >
        <a href="/blog/intuit_pnp-baseline-ty23/">ty23 pnp</a>)
    </li>
    <li>12/04/2023: ty22_tech: pregen css and useability enhancements</li>
    <li>
        12/06/2023: ty23_blsr: 2/6 baseline release (<a
            href="/blog/intuit_catchall-baseline-ty23/"
            >ty23 catchall</a
        >
        <a href="/blog/intuit_pnp-baseline-ty23/">ty23 pnp</a>)
    </li>
    <li>
        01/03/2024: ty23_3852: FBP v2 (new modal and range pricing) (<a
            href="/blog/intuit_pnp-ty23-3852-fbpv2-modals/"
            >page</a
        >)
    </li>
    <li>01/11/2024: update p&p reasons to believe accross all tests</li>
    <li>01/18/2024: create a test version of FBP with strikethough pricing</li>
    <li>01/24/2024: update personas</li>
    <li>
        01/31/2024: research CWV root cause as uncompressed, blocking next.js
        resources
    </li>
    <li>01/31/2024: create automated google sheets for HP Pzn AI campaign</li>
    <li>02/01/2024: update FS beacons format</li>
    <li>
        02/06/2024: work with global i18n team for human translations to p&p
    </li>
    <li>02/06/2024: update discalaimers content</li>
    <li>02/07/2024: p&p version of reductive gtkm links</li>
    <li>03/13/2024: $100 offer fire-drill support</li>
    <li>
        03/13/2024: ty23_3944: FBP v3 (new calculator modal) (<a
            href="/blog/intuit_pnp-3944-fbp-calc/"
            >page</a
        >)
    </li>
    <li>03/18/2024: ty23_3937: P&P Up-Level-Over-Price --canceled</li>
    <li>03/26/2024: FBP v3a (modal variation test)</li>
    <li>----03/26/2024</li>
</ul>

{{/content}} {{/extend}}
