---
# <!-- @formatter:off -->
title: Scroll Triggered Content Pinning
publish: 2021-02-17
project-image-src:
    - /intuit_pin-to-scroll/thumb.png
    - /intuit_pin-to-scroll/thumb.webp
category:
    - HTML & JavaScript
project-link: https://donsuhr.com/projects/intuit_pin-to-scroll/
snippet: Pins the content during scrolling
stack:
    - Handlebars
    - GreenSock GSAP
    - GreenSock ScrollTrigger
    - LottieFiles
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    The Content Production team was looking to enhance some existing authorable
    components with some UI flair. This enhancement went far beyond sticky
    positioning. We needed the entire section to stay on the screen while the
    user scrolled though the content. Then, the scroll would either control or
    trigger a Lottie animation.
</p>
<p>
    Usability aside, we were able to achieve the goal. It took the combination
    of some complicated logic and two mature libraries.
</p>

{{/content}} {{/extend}}
