---
# <!-- @formatter:off -->
title: Drawer component
publish: 2022-03-21
project-image-src: /intuit_drawer-component/thumb.png
category:
    - HTML & JavaScript
    - React
screen-shots:
    - url: /projects/intuit_drawer-component/screen.png
      width: 367
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    Certain requirements made it impossible to use an existing drawer component.
</p>

<p>
    The drawer needed to support throw and tap toggles for open/close, allow
    partial opening via drag, and occupy space on the page when scrolled to. It
    also had to function within the TurboTax product, which introduced
    additional constraints. The product shell, managed by another team,
    restricted the use of position: sticky, and we needed specific adjustments
    for centering.
</p>
<p>
    While there are a few optimizations to consider for a second version, the
    drawer performed well in testing.
</p>

<p>
    View the demo for <a href="/blog/intuit_pnp-3203e/">this project</a> at
    mobile width to experience the drawer in action.
</p>

{{/content}} {{#content "after"}}
<div style="height: 300px; display: flex; align-items: center">
    <p>
        By design the drawer 'docks' when it its natural position is scrolled
        to. This is a little extra space to push the drawer down for this demo
        so that it will start 'floating' when the page loads.
    </p>
</div>

<div id="root"></div>
<script src="https://www.donsuhr.com/projects/intuit_drawer-component/drawer-component-demo.js"></script>

{{/content}} {{/extend}}
