---
# <!-- @formatter:off -->
title: Form based pricing v2 modal test - 3852
publish: 2024-01-03
project-image-src:
    - /intuit_pnp-ty23-3852-fbp-v2-modal/thumb.png
    - /intuit_pnp-ty23-3852-fbp-v2-modal/thumb.webp
category:
    - React
snippet:
stack:
    - React
    - Plasmic
project-link: https://donsuhr.com/projects/intuit_pnp-ty23-3852-fbp-v2-modal/
screen-shots:
    - url: /projects/intuit_pnp-ty23-3852-fbp-v2-modal/screen1.png
      width: 1000
    - url: /projects/intuit_pnp-ty23-3852-fbp-v2-modal/screen2.png
      width: 350
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    In this iteration of the "Form-Based Pricing" modal, I took on a more active
    development role, introducing customizable 'personas' and range-based
    pricing details. Although these additions may seem straightforward,
    implementing them required extensive work on persona logic and pricing
    strategies. We needed the flexibility to modify personas for A/B testing,
    and several complex pricing conditions had to be calculated locally.
</p>
<p>
    I also developed a responsive mobile version, expanding beyond the
    desktop-only design of the initial release. Additionally, this version
    included tooltips for each form field, enhancing the user experience.
</p>
<p>
    <a href="/blog/intuit_connected-ty22-3721-fbp-v1-modals/">FBP v1</a>
    <br />
    <a href="/blog/intuit_pnp-ty23-3944-fbp-v3-calc/">FBP v3</a>
</p>
{{/content}} {{#content "after"}}
<h3 class="section-title">Live Mobile Version Demo</h3>
<div class="blog-entry__iframe-wrapper" style="height: 655px">
    <iframe
        src="https://www.donsuhr.com/projects/intuit_pnp-ty23-3852-fbp-v2-modal/"
        width="350"
        height="655"
        frameborder="0"
        scrolling="auto"
        class="blog-entry__iframe"
    ></iframe>
</div>
{{/content}} {{/extend}}
