---
# <!-- @formatter:off -->
title: Form based pricing modals test - 3721
publish: 2023-10-04
project-image-src: /intuit_connected-ty22-3721-fbp-modals/thumb.png
category:
    - React
snippet:
stack:
    - React
    - Plasmic
screen-shots:
    - url: /projects/intuit_connected-ty22-3721-fbp-modals/screen1.png
      width: 1000
    - url: /projects/intuit_connected-ty22-3721-fbp-modals/screen2.png
      width: 1000
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    As the team lead for the initial version of the "Form-Based Pricing" modal,
    I guided a project testing an informational view versus a functional
    calculator. My primary responsibilities included bootstrapping the project,
    onboarding the team to the Plasmic stack, and ensuring the team’s overall
    success. While two other engineers handled most of the content development,
    I provided direction and support to keep the project on track.
</p>
<p>
    <a href="/blog/intuit_pnp-ty23-3852-fbp-v2-modal/">FBP v2</a>
    <br />
    <a href="/blog/intuit_pnp-ty23-3944-fbp-v3-calc/">FBP v3</a>
</p>
{{/content}} {{#content "after"}}
<h3 class="section-title">Live Recipe B Demo</h3>
<div class="blog-entry__iframe-wrapper" style="height: 722px">
    <iframe
        src="https://www.donsuhr.com/projects/intuit_connected-ty22-3721-fbp-modals/demo--calc/"
        width="1140"
        height="722"
        frameborder="0"
        scrolling="auto"
        class="blog-entry__iframe"
    ></iframe>
</div>

<h3 class="section-title">Live Recipe C Demo</h3>
<div class="blog-entry__iframe-wrapper" style="height: 855px">
    <iframe
        src="https://www.donsuhr.com/projects/intuit_connected-ty22-3721-fbp-modals/demo--persona/"
        width="1125"
        height="855"
        frameborder="0"
        scrolling="auto"
        class="blog-entry__iframe"
    ></iframe>
</div>

{{/content}} {{/extend}}
