---
# <!-- @formatter:off -->
title: RUX 3522
publish: 2023-03-22
project-image-src: /intuit_rux-3522/thumb.png
category:
    - React
snippet: Returning User Experience (RUX) test
stack:
    - React
    - Plasmic
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}

<p>
    Returning users see an upsell chart that highlights the different service
    levels available to them. On mobile, this chart is information-dense, so the
    goal of this test was to present the content in a more digestible format.
</p>

<p>
    One challenge was that we had never conducted an A/B test using our current
    stack in this specific location. After some proof-of-concept work, I
    successfully bootstrapped most of the project, setting up a solid foundation
    for the team.
</p>

<h3 class="section-title">Recipe B</h3>
<div class="blog-entry__iframe-wrapper" style="height: 750px">
    <iframe
        src="https://www.donsuhr.com/projects/intuit_rux-3522/recipeB.html"
        width="360"
        height="750"
        frameborder="0"
        scrolling="auto"
        class="blog-entry__iframe"
    ></iframe>
</div>

<h3 class="section-title">Recipe C</h3>
<div class="blog-entry__iframe-wrapper" style="height: 750px">
    <iframe
        src="https://www.donsuhr.com/projects/intuit_rux-3522/recipeC.html"
        width="360"
        height="750"
        frameborder="0"
        scrolling="auto"
        class="blog-entry__iframe"
    ></iframe>
</div>

{{/content}} {{/extend}}
