---
# <!-- @formatter:off -->
title: Google Maps Location
publish: 2012-11-07
project-image-src: /meetings/thumb.jpg
category:
  - PHP
snippet: A custom google maps location finder and scraper
screen-shots:
  - url: /projects/meetings/screen1.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    There was a list of addresses for a place I was interested in but they didn't have it on a map. So, I built an html
    scraper that parsed their list and entered all their addresses into my own database. Then I used google maps to
    display all the addresses.
</p>
<p>
    This project was built with PHP classes. It uses query string filters to limit locations based selected features.
</p>
{{/content}}

{{/extend}}

