---
# <!-- @formatter:off -->
title: Minefield Navigator
publish: 2010-02-07
project-image-src: /mfn/thumb.jpg
category:
  - Flash
  - SCORM
project-link: /projects/mfn/
stack:
  - ActionScript 2.0
  - XML
  - OOP
screen-shots:
  - url: /projects/mfn/screen.jpg
  - url: /projects/mfn/screen2.jpg
  - url: /projects/mfn/screen3.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This Adobe Flash based training delivery platform is used to train emergency room staff. The platform mimics a
    ‘choose your own adventure’ delivery style and displays videos streamed via FMS.
</p>
<p>
    The client has requested new features on a yearly basis for the past three years (2009-2011). These requests have
    matured the product into a feature rich platform for developing training.
</p>
{{/content}}

{{/extend}}

