---
# <!-- @formatter:off -->
title: Personal Project - Parse Nest Data
publish: 2020-01-14
project-image-src: /nest/thumb.png
category:
    - Vue
repo-link: https://github.com/donsuhr/view-nest-data
snippet: A quick Vue project to view my Nest thermostat data.
stack:
    - Vue
    - Vuex
    - Webpack
screen-shots:
    - url: /projects/nest/screen.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    During the winter of 2019 I removed a wood burning insert from the
    fireplace. Before the project was complete things would occasionally get a
    little drafty in the living room. I wanted to find out if I could see the
    effect on my gas bill.
</p>
<p>
    Google has a service called Google Takeout that allows you to export your
    Nest data. They happened to have four years of data conveniently stored in
    json files. I downloaded the data and put together a Vue project that
    plotted the thermostat events on timelines.
</p>
<p>
    I noticed right away that the downloaded data did not exactly match the
    previous 10 days on the Nest website. It was close, but sometimes there
    would be a several hour long cycle or one missing. Then I noticed that each
    time I downloaded the data there were variations between the downloads.
</p>
<p>
    The project ended up being a bust because the data was inconsistent.
</p>

{{/content}} {{/extend}}
