---
# <!-- @formatter:off -->
title: CMS
publish: 2008-12-01
project-image-src: /phpcms/thumb.jpg
category:
  - PHP
stack:
  - OOP
  - MySQL
  - PHP
  - SVN
  - XML
  - TDD
  - XSLT
screen-shots:
  - url: /projects/phpcms/screen.png
  - url: /projects/phpcms/screen2.png
  - url: /projects/phpcms/screen3.png
  - url: /projects/phpcms/screen4.png
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    During the time I was developing the MEI CMS i was reading up on OOP. I wanted a project to try out some of the key
    concepts. While PHP4 would have supported what I wanted to do, I didn't want to try these concepts out on a
    production site nor did I want to litter my code up with ampersands. So between iterations I built an OOP version in
    php5. Its far from complete, but it has <em>most</em> of the functionality of the php4 version.
</p>
{{/content}}

{{/extend}}

