---
# <!-- @formatter:off -->
title: Interactive Writing Coach™
publish: 2010-07-29
project-image-src: /pkt/thumb.jpg
category:
  - Flash
snippet: Teaching aid for creative writing
project-link: /projects/pkt/
stack:
  - ActionScript 3.0
  - XML
  - OOP
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    My first project for Pearson was the Interactive Writing Coach simulator. This application simulates the front-end
    to a web service that scores student essays. It was used for product development and user testing.
</p>
<p>
    <a
        href="http://www.phwritingcoach.com/"
        target="_blank"
        rel="noopener"
    >Product Page</a>
</p>
<p>
    <a
        href="http://www.pearsoned.com/"
        target="_blank"
        rel="noopener"
    >Pearson</a>
</p>
{{/content}}

{{/extend}}

