---
# <!-- @formatter:off -->
title: 2013 Portfolio
publish: 2013-02-15
project-image-src: /port2013/thumb.jpg
category:
  - WordPress
screen-shots:
  - url: /projects/port2013/screen.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}
{{#content "body"}}
<p>
    Five years after the last personal portfolio update I figured it was time to freshen things up. Since there is zero
    traffic to this site and not a lot of reason to keep it, I wanted something low maintenance.
</p>
<p>
    Wordpress seemed like a pretty good choice and I used it pretty much out of the box with a stock theme.
</p>
<p>
    <a href="/blog/port2008/">2008 version</a>
    <br />
    <a href="/blog/port2003/">2003 version</a>
    <br />
    <a href="/blog/port2002/">2002 cd-rom version</a>
    <br />
</p>
{{/content}}


{{/extend}}

