---
# <!-- @formatter:off -->
title: 2017 Portfolio
publish: 2017-01-19
project-image-src: /port2017/thumb.jpg
repo-link: https://bitbucket.org/donsuhr/port2017
category:
  - HTML & JavaScript
screen-shots:
  - url: /projects/port2017/screen.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}
{{#content "body"}}
<p>
    I finally had enough of the failed login attempts from Russian ip addresses. Needing to keep WordPress updated on a
    site I almost never update was also more maintenance that I wanted.
</p>
<p>
    I already had a stack set up for the <a href="/blog/cmg_cmcSite_v3/">campusmanagement.com</a> site so I'm just using
    that. Easy.
</p>
<p>
    <a href="/blog/port2013/">2013 version</a>
    <br />
    <a href="/blog/port2008/">2008 version</a>
    <br />
    <a href="/blog/port2003/">2003 version</a>
    <br />
    <a href="/blog/port2002/">2002 cd-rom version</a>
    <br />
</p>

{{/content}}


{{/extend}}

