---
# <!-- @formatter:off -->
title: Student Portfolio CD-ROM 2002
publish: 2002-03-12
project-image-src: /port2002/thumb.jpg
category:
  - Flash
  - Macromedia Director
project-link: /projects/port2002/
stack:
  - ActionScript 1.0
  - Director / Shockwave
  - Discreet 3D Studio Max
  - Electric Rain Swift 3D
screen-shots:
  - url: /projects/port2002/screen-shots/screen.jpg
  - url: /projects/port2002/screen-shots/screen2.jpg
  - url: /projects/port2002/screen-shots/screen3.jpg
  - url: /projects/port2002/screen-shots/screen4.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    Upon graduation from AIFL it was required that we have a portfolio to showcase our work. The portfolios are then
    showcased at a 'Portfolio Review' attended by students and local employers.
</p>
<p>
    This project won the Best Portfolio Award, Spring 2002
</p>
<p>
    The digital portfolio project is a graduation requirement of all students at AIFL, so I started coming up with ideas
    for this project early. I wanted to create something that was both creative and innovative. I knew early on that I
    was going to have to push system limits in order to create an immersive environment.
</p>
<p>
    Originally I started programming the project using Macromedia Director 3D lingo. After testing the project on
    several systems, it was clear that the average computer was not able to produce a high enough frame rate to simulate
    quick, smooth movement. I then decided to create the interface using Electric Rain Swift 3D.
</p>
<p>
    I built the 3D model in Discreet 3D Studio Max and imported it into Swift 3D. The original model had a bit more
    detail. The shadows, transparency and a few of the “traces” on the plain had to be removed in order to achieve
    acceptable frame rates.
</p>
<p>
    In order to give the environment a few of the features that I wanted in the project, I ended up controlling the
    flash aspects as Macromedia Director cast members. Putting the Flash movie into Director gave me the ability to
    easily implement project launching, better audio manipulation and more control overall.
</p>
<p>
    This vector intense user interface won the AIFL Best Digital Portfolio Award in March of 2002.
</p>
<p>
    This project was originally delivered as a cross platform CD-ROM and is (was) HUGE by web standards (6MB+). Due to
    greater broadband availability, I recently (2008) updated it for web delivery. If you choose to view it, please be
    patient as it downloads.
</p>
<p>
    Most of the work in this portfolio is my student work. Please note that I often used the fact that it was student
    work as an opportunity to be campy or silly. I have also removed some of the projects.
</p>
{{/content}}

{{/extend}}

