---
# <!-- @formatter:off -->
title: Personal Project - Queue
publish: 2018-02-25
project-image-src: /queue/thumb.jpg
category:
    - Vue
    - Express
project-link: /projects/queue/
repo-link: https://bitbucket.org/donsuhr/stream-queue
snippet: A quick Vue project to view Netflix queue items available though other streaming sources.
stack:
    - Vue
    - Vuex
    - Webpack
    - Jest
    - Mongoose
    - Express
screen-shots:
    - url: /projects/queue/screen1.jpg
    - url: /projects/queue/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    I wanted to see if the items in my dvd queue were available to stream from
    other vendors. Rather than typing each one into a justwatch, I built a
    project to do it for me.
</p>
<p>
    Before I noticed that the Netflix queue page makes a request a JSON object I
    had cobbled together a html parser with sanitize-html and DOM methods. I
    then send off the items to a MongoDb store.
</p>
<p>
    Since I don't think the api I'm using to get the availability is technically
    public, each item shows up with a query button to populate its data.
</p>
<p>
    <a href="/blog/queue-v2">Later Serverless version</a>
</p>
{{/content}} {{/extend}}
