---
# <!-- @formatter:off -->
title: Personal Project - Queue v2
publish: 2019-01-21
project-image-src: /queue/thumb.jpg
category:
    - Vue
    - AWS
project-link: /projects/queue/
repo-link: https://bitbucket.org/donsuhr/stream-queue
snippet: No longer a quick Vue project, I converted this project to serverless.
stack:
    - Vue
    - Vuex
    - Webpack
    - Jest
    - DynamoDB
    - Cognito
    - CloudFormation
    - Lambda
screen-shots:
    - url: /projects/queue/screen1.jpg
    - url: /projects/queue/screen2.jpg
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    With these personal projects I usually end up having to dig around to find
    what server it's running on or boot up a local database. Which generally
    means reinstalling said database. So, I thought I would refactor this
    project to use AWS Lambda.
</p>
<p>
    The cold boot times are much faster than the maintenance would be on the
    rare occasion that I use the project.
</p>
<p>
    <a href="/blog/queue">MongoDB version</a>
</p>

{{/content}} {{/extend}}
