---
# <!-- @formatter:off -->
title: Serverless WebP create
publish: 2019-03-06
project-image-src: /serverless-webp/thumb.png
category:
    - Serverless
    - AWS
    - Firebase
    - Vue
repo-link: https://github.com/donsuhr/serverless-webp-create
snippet: Serverless web app to store and convert WebP images.
stack:
    - Auth0.js
    - Vue
    - Vuex
    - JWT
    - Lambda
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    I wanted to start using WebP images on the Campus website and there wasn't
    an easy way for authors to create the asset. I also wanted to do a
    proof-of-concept with the Serverless framework to see how it differed from
    using CloudFormation.
</p>
<p>
    It was a fun POC but this is an example of when to use an existing service
    instead of rolling your own.
</p>
<ul>
    <li>
        It uses the Firebase Realtime Database to do status updates between
        functions.
    </li>
    <li>
        It uses a precompiled cwebp binary created with the AWS supplied Docker
        image. The binary gets copied out of the Docker image and into a lambda
        layer.
    </li>
    <li>
        It uses AWS KMS to encrypt / decrypt the Firebase service account
        details.
    </li>
</ul>
<p>
    <a href="/blog/serverless-webp-avif">AVIF addition post</a>
</p>
<h3>Demo Video</h3>
<video controls class="">
    <source
        src="{{@root.config.urlRoot}}/projects/serverless-webp/video.mov"
        type="video/mp4"
    />

    Sorry, your browser doesn't support embedded videos.
</video>

{{/content}} {{/extend}}
