---
# <!-- @formatter:off -->
title: Serverless AVIF
publish: 2020-08-06
project-image-src: /serverless-webp/thumb2.jpg
category:
    - Serverless
    - AWS
    - Firebase
    - Vue
repo-link: https://github.com/donsuhr/serverless-webp-create
snippet: Add avif output to the existing webp projet
stack:
    - Auth0.js
    - Vue
    - Vuex
    - JWT
    - Lambda
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}} {{#content "body"}}
<p>
    The other day I saw a post about avif in my twitter feed. I thought, "I
    should add that to that webp app I made last year." Just to see the file
    sizes side by side with webp. The GitHub dependabot had been nagging me to
    update some dependencies anyway.
</p>
<p>
    I got to work updating the dependencies and then it blew up. One of the
    (sub)dependencies was not playing well with the newer node version. To find
    the errant item debugging turned into one of those ||: change a dep ->
    publish -> func test :|| nightmare loops.
</p>
<p>
    Then, once I finally had the dependencies sorted out and finally got the
    libavif package to compile in the lambda docker image, the output was
    actually *bigger* than my imagemin output. I was running the optimizer with
    the default settings which were not optimal. Once I added a slider to the ui
    for the min and max quality I was seeing better results.
</p>
<p>
    I ended up with way more refactoring than I care to have done on a
    proof-of-concept project. It even ended up with a readme file. In the end,
    the images are impressively small.
</p>
<p>
    <a href="/blog/serverless-webp">Original Post</a>
</p>
{{/content}} {{# content "after"}}
<h3>Screen Shot</h3>
<p>
    The following screenshot will display as an avif on compatible browsers. You
    can see a little low quality in the text but its not bad for 26.1k.
</p>
<pre>
original   219 kB
imagemin  63.4 kB
webp      32.5 kB
avif      26.1 kB
</pre>

<picture>
    <source
        srcset="{{@root.config.cdnUrl}}/serverless-webp/screen2.avif"
        type="image/avif"
    />
    <source
        srcset="{{@root.config.cdnUrl}}/serverless-webp/screen2.webp"
        type="image/webp"
    />
    <img src="{{@root.config.cdnUrl}}/serverless-webp/screen2.png" alt="" />
</picture>

{{/content}} {{/extend}}
