---
# <!-- @formatter:off -->
title: eStore Software
publish: 2004-07-01
project-image-src: /storeSoft/thumb.jpg
category:
  - PHP
  - ASP
project-link: /projects/storeSoft/
stack:
  - PHP
  - Cold Fusion
  - ASP
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    This store software went though several rewrites using different technologies. The first version was in ASP and was
    intended for use for a brick and mortar store that wanted to move online.
</p>
<p>
    The second version was in Cold Fusion and was really a port to learn the language.
</p>
<p>
    The third version, in PHP, was used for an online store managed by myself and a business partner.
</p>
{{/content}}

{{/extend}}

