---
# <!-- @formatter:off -->
title: ZendCon 2008
publish: 2008-09-08
project-image-src: /conferences/zend08.gif
category:
  - Conference Attendance
snippet: >
    San Jose was completely lame but this conference was okay. I attended some
    interesting sessions presented by some key people in the PHP industry. I
    also attended sessions regarding TDD, version control and agile practices.
stack:
  - PHP
  - TDD
  - Agile
  - SCM
# <!-- @formatter:on -->
---

{{#extend "layouts/project"}}

{{#content "body"}}
<p>
    {{snippet}}
</p>
<p>
    <a href="http://www.zendcon.com/">ZendCon Website</a>
</p>
{{/content}}

{{/extend}}

