---
# <!-- @formatter:off -->
title: Search
show-in-quick-launch: false
private: true
additional-scripts:
    - src: /scripts/page--search-results.js
# <!-- @formatter:on -->
---

<script>
    window.__is404page = false;
</script>

{{#extend "layouts/main"}} {{#content "body"}}
<div class="cmc-article">
    <h2 class="page-title">
        Search Results
    </h2>

    <div id="SearchResultContainer">
        loading....
    </div>

    <p class="search-results-by">
        <a href="https://www.algolia.com" target="_blank">
            <img
                src="/images/search-by-algolia.svg"
                class="search-results-by__img"
                alt="Algolia"
            />
        </a>
    </p>
</div>

{{/content}} {{/extend}}
