<ul class="search-results-list">
    {{#each data}}
        <li class="search-result-item">
            <a href="{{url}}" class="search-result-item__title">{{{title}}}</a>
            <p class="search-result-item__body">
                {{#if publish}}
                    <span class="search-result-item__publish">
                        {{blog-format-date publish}}
                    </span>
                {{/if}}
                {{#ifEq type 'application/pdf'}}<span class="search-result-item__pdf">PDF</span>{{/ifEq}}
                {{{body}}}
            </p>
            <a href="{{url}}" class="search-result-item__full-url-link" title="{{url}}">{{url}}</a>
        </li>
    {{/each}}
</ul>
