<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{#if private}}
        <meta name="robots" content="noindex">
    {{/if}}
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
   {{#eq NODE_ENV 'production'}}
        <link rel="stylesheet" href="/styles/critical.css" inline>
        <link
            rel="preload"
            as="style"
            href="/styles/main.css"
        />
        <link rel="stylesheet" href="/styles/main.css" media="print" onload="this.media='all'">
        <noscript>
            <link rel="stylesheet" href="/styles/main.css">
        </noscript>
    {{else}}
        <link rel="stylesheet" href="/styles/crit-forced.css">
        <link rel="stylesheet" href="/styles/main.css">
    {{/eq}}


    {{> additional-stylesheets}}

    {{#eq NODE_ENV 'production'}}
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="preconnect" href="https://www.googletagmanager.com">
        <link rel="preconnect" href="{{@root.config.cdnUrl}}">
        {{!>scripts-preload}} <!-- pushes other assets down, slowing LCP -->
    {{/eq}}
    <!--<link rel="stylesheet" href="https://basehold.it/26/ff0000">-->
    <!--<link rel="stylesheet" href="/styles/vendor/baseholdit-26-ff0000.css">-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TW6Q8XR');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<header class="main-header">
    <a href="/" class="header__home-link">
        <h1>Donald Suhr</h1>
        <p>Front End Developer</p>
    </a>
    <form action="/search/" method="get" class="search-form">
        <label for="search">Search</label>
        <input type="text" name="q" id="search" />
    </form>
    <ul class="header__repo-link-list">
        <li>
            <a href="https://github.com/donsuhr/" 
               title="https://github.com/donsuhr/"
               class="header__repo-link"><img src="/images/github.svg" alt="" /></a>
        </li>
        <li>
            <a href="https://bitbucket.org/donsuhr/"
               title="https://bitbucket.org/donsuhr/"
               class="header__repo-link"><img src="/images/bitbucket.svg" alt="" /></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/donsuhr/"
               title="https://www.linkedin.com/in/donsuhr/"
               class="header__repo-link"><img src="/images/linkedin.svg" alt="" /></a>
        </li>
    </ul>
</header>

{{{contents}}}

{{>scripts}}

</body>
</html>
