<header>
    <p class="blog-entry__project-date">
        {{blogFormatDate publish}}
    </p>
    {{#eq h 3}}
        <h3>
            {{title}}
        </h3>
    {{else}}
        <h2>
            {{title}}
        </h2>
    {{/eq}}
</header>
{{#if (isArray project-image-src)}}
    <picture>
    {{#each project-image-src}}
        {{#if (test this (toRegex '.avif$'))}}
            <source srcset="{{@root.config.cdnUrl}}{{this}}" type="image/avif" />
        {{/if}}
        {{#if (test this (toRegex '.webp$'))}}
            <source srcset="{{@root.config.cdnUrl}}{{this}}" type="image/webp" />
        {{/if}}
    {{/each}}
    <img
    class="blog-entry__project-image"
    src="{{@root.config.cdnUrl}}{{itemAt project-image-src 0}}"
    alt=""
    width="375"
    height="250"
    loading="lazy"
    />
{{else}}
    <img
    class="blog-entry__project-image"
    src="{{@root.config.cdnUrl}}{{project-image-src}}"
    alt=""
    width="375"
    height="250"
    loading="lazy"
    />
{{/if}}
{{#if (isArray project-image-src)}}
    </picture>
{{/if}}
