<div class="blog-entry__categories">
    <!-- prettier-ignore-start -->
    <h3 class="blog-entry__categories__title section-title">Categories</h3>
    <!-- prettier-ignore-end -->
    <ul class="blog-entry__categories-list">
        {{#each category}}
            <li>
                <a href="/{{getBlogCategoryFirstPage this}}">
                    {{this}}
                </a>{{#unless @last}}
                    ,
                {{/unless}}
            </li>
        {{/each}}
    </ul>
</div>
