{{#ifShowLinks}}
    <div class="blog-entry__links">
        {{#if fromList}}
            {{#unless hide-project-link}}
                <a href="/{{path}}/">
                    Project Info
                </a>
            {{/unless}}
        {{else}}
            <h3 class="section-title">
                Links
            </h3>
        {{/if}}
        {{#if project-link}}
            <a href="{{project-link}}">
                View Demo
            </a>
        {{/if}}
        {{#if repo-link}}
            <a href="{{repo-link}}">
                Source
            </a>
        {{/if}}
        {{#each other-links}}
            <a href="{{this.href}}" rel="noreferrer nofollow">
                {{this.text}}
            </a>
        {{/each}}
    </div>
{{/ifShowLinks}}
