<li class="quick-launch quick-launch--archive">
    <h2 class="quick-launch__title">Archive</h2>
    <button
        type="button"
        class="quick-launch__toggle-btn"
    >show
    </button>
    <ul class="quick-launch__toggle-contents" hidden>
        {{#each items}}
            <li>
                <a
                    href="/{{path}}/"
                    class="quick-launch-item {{#eq path ../currentPath}}quick-launch-item--active{{/eq}}"
                    >{{transformPaginationNameArchive pagination}}</a><span 
                    class="quick-launch-item__count">({{pagination.files.length}})</span>
            </li>
        {{/each}}
    </ul>
</li>
