<li class="quick-launch quick-launch--categories">
    <h2 class="quick-launch__title">Categories</h2>
    <button
        type="button"
        class="quick-launch__toggle-btn"
    >show
    </button>
    <ul class="quick-launch__toggle-contents" hidden>
        {{#each items}}
            <li>
                <a
                    href="/{{first.path}}/"
                    class="quick-launch-item {{#eq first.path ../paginationFirst}}quick-launch-item--active{{/eq}}"
                >
                    {{key}}
                </a>
            </li>
        {{/each}}
    </ul>
</li>
