{{#if screen-shots}}
    <div class="blog-entry__screen-shots">
        <h3 class="section-title">
            Screen Shots
        </h3>
        {{#each screen-shots}}
            <img
                src="{{@root.config.urlRoot}}{{this.url}}"
                class="blog-entry__project-screen-shot"
                alt="{{this.alt}}"
                {{#if this.width}}width="{{this.width}}"{{/if}}
            />
        {{/each}}
    </div>
{{/if}}
