<!-- htmlmin:ignore -->
{{#each scripts~}}
    <link href="{{src}}" rel='preload' as='script' importance='high' {{#if jsIntegrity}}crossorigin="annonymous" integrity="{{jsIntegrity}}"{{/if}} />
{{/each}}
<!-- htmlmin:ignore -->
