{{#if stack}}
    <div class="blog-entry__stack">
        <h3 class="section-title">
            Stack
        </h3>
        <ul>
            {{#each stack}}
                <li>
                    {{{stackLinkLookup this}}}
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}
